table
{
    width: 400px;
    text-align: left;
}

tr
{
    text-align: left;
}

thead
{
    text-align: left;
}

th
{
    text-align:left;
}

td
{
    text-align:left;
    height: 50px;
}

tr:nth-child(even) 
{
    background-color: #f2f2f2;
}



